<!DOCTYPE html>
<html ⚡ lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <meta content="IE=Edge" http-equiv="X-UA-Compatible">
    <meta name="amp-experiments-opt-in" content="">
    <title>@ViewData["Title"]</title>
    <link rel="canonical" href="https://ampbyexample.com/Introduction/Hello_World">
    
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">

    <script async src="https://cdn.ampproject.org/v0.js"></script>
    @RenderSection("scripts", required: false)

    <amp-custom-style page-type="@ViewData["PageType"]" default-page-type="amp_pwa_videos/default" />
    <amp-boilerplate-style/>
</head>
<body class="amp-conf">
    @RenderBody()
</body>
</html>

